<div class="jumbotron">
    <div>
        <h2><%= @question.title %></h2>
        <div class="d-flex mx-4">
            <div class="mx-3 text-center">
                <i class="fas fa-caret-up" style="font-size: 35px;"></i>
                <h4>1</h4>
                <p class="text-secondary">Votos</p>
            </div>
            <div class="flex-grow-1" >
                <div>
                    <p><%= @question.content %></p>
                </div>
                <div>
                    <div class="list-group" id="question-comment-list">
                        <%= render  @question.comments %>   
                    </div>
                    <div class="mt-3 text-right">
                        <% if user_signed_in? %>
                            <%= render  "comments/form", commentable: @question %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>(<%= @question.answers.count %>)Respuestas</h3>
    <hr class="my-4">
    <div id="answer-list">
        <%= render @question.answers %>
    </div>
    <% if user_signed_in? %>
        <h3>Tu Respuesta</h3>
        <hr class="my-4">
        <div>
            <%= render 'answers/form' %>
        </div>
    <% end %>
</div>