<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "FlowOverstack", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <%= render  "layouts/user_signed" %>
        </ul>
        <div class= "form-inline my-2 my-lg-0">
            <%= form_tag questions_path, method: :get do %>
                <%= text_field_tag :search, nil, placeholder: "Search...", class: "form-control mr-sm-2" %>
                <%= submit_tag "Search", class: "btn btn-secondary my-2 my-sm-0" %>
            <% end %>

        </div>
    </div>
</nav>