<!DOCTYPE html>
<html>

<head>
  <title>FlowOverstack</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render  "layouts/navbar" %>

  <% flash.each do |key, msg| %>
    <div class="<%= flash_msg(key) %>">
      <p><%=msg%></p>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
  <script>
    $(".alert").fadeIn(500).css("opacity", "0.85").delay(5000).slideUp(1000);
    $(".alerts").on('click', '.alert', function () { $(this).remove() });
  </script>
</body>

</html>